#frontvid-container {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
}

#frontvid-container::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.438);
    z-index: 1;
}

#frontvid {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}



#frontname {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 20vh;
    z-index: 3;
    position: absolute;
    right: 3.1em;
    width: auto;
    height: auto;
    border: 2px solid white;
}

@keyframes slide-first {
    from {
        opacity: 0%;
        left: 0;
    }
    to {
        opacity: 100%;
        left: -1.5em;
    }
}

@keyframes slide-last {
    from {
        opacity: 0%;
        left: 0em;
    }
    to {
        opacity: 100%;
        left: -.5em;
    }
}

#frontname #first {
    animation-name: slide-first;
    animation-duration: 5s;
    position: absolute;
    z-index: 4;
    left: -1.5em;
}

#frontname #last {
    animation-name: slide-last;
    animation-duration: 6s;
    top: 21vh;
    z-index: 4;
    position: absolute;
    left: -.5em;
}
